services:
  main:
    build:
      context: ./mux
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "5000:5000"
    volumes:
      - type: bind
        source: ./storage/mux
        target: /app/storage
  # dummy_litellm:
  #   image: ghcr.io/berriai/litellm:main-latest
  #   command:
  #     - "--config"
  #     - "/app/config.yaml"
  #   configs:
  #     - source: dummy_litellm_config
  #       target: /app/config.yaml
  #   environment:
  #     - LITELLM_MODEL=dummy
  #   ports:
  #     - "4000:4000"
  letta:
    image: letta/letta:0.13.0
    environment:
      - OPENAI_API_KEY=dummy-openai-key
      # - OPENAI_BASE_URL=http://main:5000/proxy/v1
      - LMSTUDIO_BASE_URL=http://main:5000/proxy/v1
      - OLLAMA_BASE_URL=http://main:5000/proxy/v1
    ports:
    - "8283:8283"
    volumes:
      - type: bind
        source: ./storage/letta
        target: /var/lib/postgresql/data
configs:
  dummy_litellm_config:
    file: ./dummy_litellm_config.yaml